useDynLib(tmvtnorm)
import(stats)
import(utils)
import(mvtnorm)
export(ptmvnorm)
export(rtmvnorm)
export(dtmvnorm)
export(dtmvnorm.marginal)
export(dtmvnorm.marginal2)
export(qtmvnorm.marginal)
export(ptmvnorm.marginal)
export(mtmvnorm)
